<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^data/drivers\.json$ - [F,L,NC]
  RewriteRule ^data/trainings(?:/|$) - [F,L,NC]
  RewriteRule ^fahrerunterlagen(?:/|$) - [F,L,NC]
  RewriteRule ^linien/test(?:/|$) - [F,L,NC]
</IfModule>
